@font-face {
    font-family: 'tetriSolFont';
    src: url('./PingFang Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('./inter.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YouSheBiaoTiHei';
    src: url('./YouSheBiaoTiHeiRegular.ttf');
    font-weight: normal;
    font-style: normal;
}
  